USE [master]
GO
/****** Object:  Database [MusafirCafe]    Script Date: 20-08-2026 18:35:27 ******/
CREATE DATABASE [MusafirCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusafirCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusafirCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusafirCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusafirCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusafirCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusafirCafe]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[CustomerType] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[IngredientID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NOT NULL,
	[IngredientName] [varchar](100) NOT NULL,
	[Unit] [varchar](10) NOT NULL,
	[CurrentStock] [decimal](10, 2) NOT NULL,
	[ReorderLevel] [decimal](10, 2) NOT NULL,
	[UnitCost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryPurchases]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryPurchases](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[LoggedByEmployeeID] [int] NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](100) NOT NULL,
	[Category] [varchar](20) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[PrepTimeMinutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtOrder] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[ProcessedByEmployeeID] [int] NOT NULL,
	[OrderDateTime] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMode] [varchar](10) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CompletionDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeIngredients]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredients](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[QuantityRequiredPerUnit] [decimal](10, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [varchar](100) NOT NULL,
	[Address] [varchar](max) NULL,
	[ContactNumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](100) NOT NULL,
	[ContactNumber] [varchar](20) NULL,
	[Address] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wastage]    Script Date: 20-08-2026 18:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wastage](
	[WastageID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[LoggedByEmployeeID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[QuantityLost] [decimal](10, 2) NOT NULL,
	[Reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[WastageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [Name], [Email], [Phone], [CustomerType]) VALUES (1, N'Atharv Patel', N'atharv.patel@email.com', N'9870000001', N'Walk-in')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Email], [Phone], [CustomerType]) VALUES (2, N'Anmol Sharma', N'anmol.sharma@email.com', N'9870000002', N'App')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Email], [Phone], [CustomerType]) VALUES (3, N'Abhayjeet', N'abhay.jeet@email.com', N'9870000003', N'Walk-in')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [StoreID], [Name], [Role], [Email], [Phone]) VALUES (1, 1, N'Rahul Sharma', N'Store Manager', N'rahul@musafircafe.com', N'9998887770')
INSERT [dbo].[Employees] ([EmployeeID], [StoreID], [Name], [Role], [Email], [Phone]) VALUES (2, 1, N'Priya Singh', N'Barista', N'priya@musafircafe.com', N'9998887771')
INSERT [dbo].[Employees] ([EmployeeID], [StoreID], [Name], [Role], [Email], [Phone]) VALUES (3, 1, N'Amit Patel', N'Barista', N'amit@musafircafe.com', N'9998887772')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([IngredientID], [StoreID], [IngredientName], [Unit], [CurrentStock], [ReorderLevel], [UnitCost]) VALUES (1, 1, N'Espresso Beans', N'Kg', CAST(15.50 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[Inventory] ([IngredientID], [StoreID], [IngredientName], [Unit], [CurrentStock], [ReorderLevel], [UnitCost]) VALUES (2, 1, N'Milk', N'Litre', CAST(8.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(65.00 AS Decimal(10, 2)))
INSERT [dbo].[Inventory] ([IngredientID], [StoreID], [IngredientName], [Unit], [CurrentStock], [ReorderLevel], [UnitCost]) VALUES (3, 1, N'Sugar', N'Kg', CAST(20.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryPurchases] ON 

INSERT [dbo].[InventoryPurchases] ([PurchaseID], [StoreID], [SupplierID], [IngredientID], [LoggedByEmployeeID], [PurchaseDate], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, 1, CAST(N'2026-08-10' AS Date), CAST(10.00 AS Decimal(10, 2)), CAST(800.00 AS Decimal(10, 2)))
INSERT [dbo].[InventoryPurchases] ([PurchaseID], [StoreID], [SupplierID], [IngredientID], [LoggedByEmployeeID], [PurchaseDate], [Quantity], [UnitPrice]) VALUES (2, 1, 2, 2, 1, CAST(N'2026-08-12' AS Date), CAST(20.00 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)))
INSERT [dbo].[InventoryPurchases] ([PurchaseID], [StoreID], [SupplierID], [IngredientID], [LoggedByEmployeeID], [PurchaseDate], [Quantity], [UnitPrice]) VALUES (3, 2, 3, 8, 4, CAST(N'2026-08-11' AS Date), CAST(50.00 AS Decimal(10, 2)), CAST(40.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[InventoryPurchases] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([ItemID], [ItemName], [Category], [Price], [PrepTimeMinutes]) VALUES (1, N'Espresso', N'Hot Beverage', CAST(120.00 AS Decimal(10, 2)), 3)
INSERT [dbo].[MenuItems] ([ItemID], [ItemName], [Category], [Price], [PrepTimeMinutes]) VALUES (2, N'Cappuccino', N'Hot Beverage', CAST(180.00 AS Decimal(10, 2)), 5)
INSERT [dbo].[MenuItems] ([ItemID], [ItemName], [Category], [Price], [PrepTimeMinutes]) VALUES (3, N'Latte', N'Hot Beverage', CAST(190.00 AS Decimal(10, 2)), 5)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ItemID], [Quantity], [PriceAtOrder]) VALUES (1, 1, 2, 1, CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ItemID], [Quantity], [PriceAtOrder]) VALUES (2, 1, 13, 1, CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ItemID], [Quantity], [PriceAtOrder]) VALUES (3, 2, 1, 1, CAST(120.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [StoreID], [CustomerID], [ProcessedByEmployeeID], [OrderDateTime], [TotalAmount], [PaymentMode], [Status], [CompletionDateTime]) VALUES (1, 1, 1, 2, CAST(N'2026-08-01T09:30:00.000' AS DateTime), CAST(300.00 AS Decimal(10, 2)), N'UPI', N'Completed', CAST(N'2026-08-01T09:45:00.000' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [StoreID], [CustomerID], [ProcessedByEmployeeID], [OrderDateTime], [TotalAmount], [PaymentMode], [Status], [CompletionDateTime]) VALUES (2, 1, 2, 2, CAST(N'2026-08-02T10:15:00.000' AS DateTime), CAST(120.00 AS Decimal(10, 2)), N'Cash', N'Completed', CAST(N'2026-08-02T10:20:00.000' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [StoreID], [CustomerID], [ProcessedByEmployeeID], [OrderDateTime], [TotalAmount], [PaymentMode], [Status], [CompletionDateTime]) VALUES (3, 2, 3, 4, CAST(N'2026-08-03T11:45:00.000' AS DateTime), CAST(450.00 AS Decimal(10, 2)), N'Card', N'Completed', CAST(N'2026-08-03T11:56:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeIngredients] ON 

INSERT [dbo].[RecipeIngredients] ([RecipeID], [ItemID], [IngredientID], [QuantityRequiredPerUnit]) VALUES (1, 2, 1, CAST(0.015 AS Decimal(10, 3)))
INSERT [dbo].[RecipeIngredients] ([RecipeID], [ItemID], [IngredientID], [QuantityRequiredPerUnit]) VALUES (2, 2, 2, CAST(0.200 AS Decimal(10, 3)))
INSERT [dbo].[RecipeIngredients] ([RecipeID], [ItemID], [IngredientID], [QuantityRequiredPerUnit]) VALUES (3, 2, 6, CAST(1.000 AS Decimal(10, 3)))
SET IDENTITY_INSERT [dbo].[RecipeIngredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

INSERT [dbo].[Stores] ([StoreID], [StoreName], [Address], [ContactNumber]) VALUES (1, N'Musafir Cafe - Kirkee', N'Main Street, Kirkee, Pune', N'9876543210')
INSERT [dbo].[Stores] ([StoreID], [StoreName], [Address], [ContactNumber]) VALUES (2, N'Musafir Cafe - Camp', N'MG Road, Camp, Pune', N'9876543211')
SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactNumber], [Address]) VALUES (1, N'Tata Coffee Beans', N'1800112233', N'Bangalore, India')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactNumber], [Address]) VALUES (2, N'Amul Dairy', N'1800445566', N'Anand, Gujarat')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactNumber], [Address]) VALUES (3, N'Urban Bakery Works', N'1800778899', N'Pune, Maharashtra')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Wastage] ON 

INSERT [dbo].[Wastage] ([WastageID], [StoreID], [IngredientID], [LoggedByEmployeeID], [Date], [QuantityLost], [Reason]) VALUES (1, 1, 2, 2, CAST(N'2026-08-10' AS Date), CAST(1.50 AS Decimal(10, 2)), N'Milk spilled during morning rush')
INSERT [dbo].[Wastage] ([WastageID], [StoreID], [IngredientID], [LoggedByEmployeeID], [Date], [QuantityLost], [Reason]) VALUES (2, 1, 1, 3, CAST(N'2026-08-12' AS Date), CAST(0.25 AS Decimal(10, 2)), N'Espresso beans dropped on the floor')
INSERT [dbo].[Wastage] ([WastageID], [StoreID], [IngredientID], [LoggedByEmployeeID], [Date], [QuantityLost], [Reason]) VALUES (3, 1, 6, 2, CAST(N'2026-08-13' AS Date), CAST(5.00 AS Decimal(10, 2)), N'Paper cups crushed by accident in storage')
SET IDENTITY_INSERT [dbo].[Wastage] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDateTime]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[InventoryPurchases]  WITH CHECK ADD FOREIGN KEY([IngredientID])
REFERENCES [dbo].[Inventory] ([IngredientID])
GO
ALTER TABLE [dbo].[InventoryPurchases]  WITH CHECK ADD FOREIGN KEY([LoggedByEmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[InventoryPurchases]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[InventoryPurchases]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[MenuItems] ([ItemID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ProcessedByEmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD FOREIGN KEY([IngredientID])
REFERENCES [dbo].[Inventory] ([IngredientID])
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[MenuItems] ([ItemID])
GO
ALTER TABLE [dbo].[Wastage]  WITH CHECK ADD FOREIGN KEY([IngredientID])
REFERENCES [dbo].[Inventory] ([IngredientID])
GO
ALTER TABLE [dbo].[Wastage]  WITH CHECK ADD FOREIGN KEY([LoggedByEmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Wastage]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([CustomerType]='App' OR [CustomerType]='Walk-in'))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Store Manager' OR [Role]='Barista'))
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD CHECK  (([Unit]='Pack' OR [Unit]='Piece' OR [Unit]='Litre' OR [Unit]='Kg'))
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD CHECK  (([Category]='Bakery' OR [Category]='Snack' OR [Category]='Cold Beverage' OR [Category]='Hot Beverage'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([PaymentMode]='UPI' OR [PaymentMode]='Card' OR [PaymentMode]='Cash'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Pending'))
GO
USE [master]
GO
